<!-- label="
{{
  (loggedInUser$ | async)![0].lastName +
    ' ' +
    (loggedInUser$ | async)![0].firstName
}} -->

<div *ngIf="loggedInUser$ | async">
  <div>
    <p-button
      icon="pi pi-user"
      styleClass="p-button-link"
      class="line-height-3 pl-3 cursor-pointer"
      label="
      Заглушка
      "
    ></p-button>
    <p-button
      icon="pi pi-sign-out"
      styleClass="p-button-link"
      class="line-height-3 pl-3"
      (click)="logout()"
      label="Выход"
    ></p-button>
  </div>
</div>
