<app-dia-breadcrumbs></app-dia-breadcrumbs>

<div
  class="surface-300 text-gray-100 pl-6 pr-8 justify-content-start align-items-center flex-wrap"
>
  <div class="flex">
    <div
      class="flex-1 flex align-items-center justify-content-start font-bold text-gray-900 pl-5"
    >
      <app-dia-search
        (searchTextChanged)="onSearchTextEntered($event)"
      ></app-dia-search>
    </div>

    <div
      class="flex-initial flex align-items-center justify-content-end font-bold"
    >
      <div>
        <a routerLink="/courses/new"
          ><p-button label="Добавить курс" icon="pi pi-plus"></p-button
        ></a>
      </div>
    </div>
  </div>
</div>

<div>
  <ng-container *ngFor="let course of courses$ | async">
    <app-dia-course
      [course]="course"
      (edit)="editCourse($event)"
      (delete)="showConfirmDeletionDialog($event)"
    ></app-dia-course>
  </ng-container>

  <!-- <ng-container
    *ngFor="
      let course of courses
        | filter : searchText : 'name'
        | sort : ['creationDate', 'desc']
    "
  >
    <app-dia-course
      [course]="course"
      (edit)="editCourse($event)"
      (delete)="showConfirmDeletionDialog($event)"
    ></app-dia-course>
  </ng-container> -->

  <!--Информация, что отсутствует БС-->

  <!-- *ngIf="!(courses | filter : searchText : 'name').length" -->
  <div
    *ngIf="!(courses$ | async)"
    class="text-gray-100 p-3 pl-8 pr-8 justify-content-start align-items-center flex-wrap"
  >
    <div class="surface-card p-4 shadow-2 border-round">
      <div
        class="flex-1 flex align-items-center justify-content-center font-bold text-gray-900 m-2 px-2 py-3 border-round text-3xl font-medium text-900 mb-3"
      >
        Нет данных
      </div>
    </div>
  </div>

  <!-- Кнопка Загрузить еще-->
  <div
    *ngIf="courses$ | async"
    class="flex-1 flex align-items-center justify-content-center font-bold text-gray-900 py-3 surface-300"
  >
    <button type="button" pButton (click)="loadMoreCourses()">
      Загрузить еще
    </button>
  </div>
  <!-- </div> -->

  <p-confirmDialog [style]="{ width: '60vw' }"> </p-confirmDialog>
</div>
