<content class="contents">
  <header class="header">
    <app-dia-header [isAuthenticated]="isAuthenticated"></app-dia-header>
  </header>
  <main class="main">
    <div *ngIf="!isAuthenticated">
      <app-dia-login-form
        (isAuthenticated)="isAuthenticatedCheck($event)"
      ></app-dia-login-form>
    </div>
    <div *ngIf="isAuthenticated">
      <!-- <app-dia-breadcrumbs></app-dia-breadcrumbs>
      <app-dia-courses-list></app-dia-courses-list> -->
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="footer"><app-dia-footer></app-dia-footer></footer>
</content>
