<div
  class="bg-bluegray-900 text-gray-100 p-3 pl-8 pr-8 justify-content-start align-items-center flex-wrap"
>
  <div class="surface-card p-4 shadow-2 border-round">
    <div class="flex">
      <div
        class="flex-1 flex align-items-center justify-content-start bg-yellow-500 font-bold text-gray-900 m-2 px-2 py-3 border-round"
      >
        <span class="pi pi-search"></span>

        <input
          pInputText
          type="text"
          class="p-inputtext-lg"
          placeholder="Поиск"
        />

        <span class="pl-4"></span>
        <button type="button" pButton label="Поиск"></button>
      </div>

      <div
        class="flex-initial flex align-items-center justify-content-end font-bold m-2 px-5 py-3 border-round"
      >
        <div>
          <p-button label="Добавить курс" icon="pi pi-plus"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
