<div
  class="bg-bluegray-900 text-gray-100 p-3 pl-8 flex justify-content-start align-items-center flex-wrap"
>
  <div
    class="flex-1 flex align-items-center justify-content-start bg-yellow-500 font-bold text-gray-900 m-2 px-5 py-4 border-round"
  >
    <span class="pi pi-search"></span>
    <span class="line-height-3 pl-3">Поиск</span>
    <span class="pl-4"></span>
    <button type="button" pButton label="Поиск"></button>
    <p-button label="Submit" icon="pi pi-plus"></p-button>
  </div>
</div>
