<p-messages [(value)]="msgs" [enableService]="false"></p-messages>

<div class="flex align-items-center justify-content-center pt-6">
  <p-card header="Добавить курс" [style]="{ width: '600px' }">
    <div>
      <span class="p-float-label flex flex-column">
        <input pInputText id="courseName" [(ngModel)]="courseName" />
        <label htmlFor="courseName">Название курса</label>
      </span>
    </div>

    <p class="pt-1 pt-1"></p>

    <span class="p-float-label flex flex-column">
      <textarea
        id="courseDescription"
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="courseDescription"
      ></textarea>
      <label for="courseDescription">Описание курса</label>
    </span>

    <p class="pt-1 pt-1"></p>

    <div>
      <p-inputNumber
        mode="decimal"
        [showButtons]="true"
        inputId="minmax-buttons"
        [min]="10"
        [max]="300"
        [(ngModel)]="courseDurationMinutes"
      >
      </p-inputNumber>

      <span *ngIf="courseDurationMinutes">
        <span class="text-base pl-2">
          {{ courseDurationMinutes | duration }}</span
        >
      </span>
    </div>

    <p class="pt-1 pt-1"></p>

    <div>
      <p-calendar [showIcon]="true" [(ngModel)]="creationDate"></p-calendar>
    </div>

    <p class="pt-1 pt-1"></p>

    <div>
      <p-tag icon="pi pi-user" value="Primary"></p-tag>
    </div>

    <p class="pt-1 pt-1"></p>

    <div>
      <span class="flex align-items-center justify-content-end">
        <a routerLink="/"
          ><p-button label="Вернуться" styleClass="p-button-text"></p-button
        ></a>

        <p-button label="Сохранить" (click)="addCourse()"></p-button>
      </span>
    </div>
  </p-card>
</div>
