@import '~normalize.css';
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

html,
content {
  min-height: 100vh;
}

content {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
}

header {
  flex-grow: 0;
  border: solid green;
}

main {
  flex-grow: 1;
  border: solid red;
  background-color: var(--surface-300);
}

footer {
  flex-grow: 0;
  border: solid blue;
}

.input-styling input {
  width: 630px !important;
}
