<div class="surface-card p-1 shadow-2 border-round">
  <div class="flex">
    <div class="font-bold ml-6 mr-2 px-5 py-1">
      <a href="https://diasoft-angular-quick-start.vercel.app/"
        ><img src="/assets/logo.png" alt="logo"
      /></a>
    </div>

    <ng-container>
      <div
        class="flex-1 flex align-items-center justify-content-end font-bold text-gray-900 px-5 py-1 border-round mr-5"
      >
        <span class="pi pi-user"></span>
        <span class="line-height-3 pl-3">Бильбо Сумкин</span>
        <span class="pl-4"></span>
        <span class="pi pi-sign-out"></span>
        <span class="line-height-3 pl-3">Выход</span>

        <li class="nav-item">
          <a [routerLink]="['/login']" class="nav-link">Sign In</a>
        </li>
      </div>
    </ng-container>
  </div>
</div>
