<div
  class="surface-300 p-3 pl-8 pr-8 justify-content-start align-items-center flex-wrap"
>
  <div class="p-4 shadow-2 border-round surface-card">
    <div class="flex align-items-center justify-content-center pt-1">
      <img src="/assets/404.svg" alt="404" />
    </div>

    <div class="flex align-items-center justify-content-center pt-3">
      Страница не найдена
    </div>

    <div class="flex align-items-center justify-content-center pt-3">
      <button
        type="button"
        pButton
        label="На главную"
        [routerLink]="'/'"
      ></button>
    </div>
  </div>
</div>
